<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	

	
   
	<settings>
	 	<!-- 开启缓存 -->
		<setting name="cacheEnabled" value="true"/>
		
		<setting name="logImpl" value="LOG4J"/>
		
		<setting name="useGeneratedKeys" value="true"/>
		
		<setting name="safeResultHandlerEnabled" value="false"/>
		
		<!-- 
		<setting name="lazyLoadingEnabled" value="true"/>

		<setting name="multipleResultSetsEnabled" value="true"/>

		<setting name="useColumnLabel" value="true"/>

		

		<setting name="autoMapppingBehavior" value="PARTIAL"/>

		<setting name="defaultExecutorType" value="SIIMPLE"/>

		<setting name="defaultStatementTimeout" value="25000"/>

		<setting name="safeRowBoundsEnabled" value="false"/>

		<setting name="mapUnderscoreToCamelCase" value="false"/>

		<setting name="localCacheScope" value="SESSION"/>

		<setting name="jdbcTypeForNull" value="OTHER"/>

		<setting name="LazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
		-->
	</settings>
    

	
	<!-- 配置实体类的别名，配置实体类别名的目的是为了在引用实体类时可以使用实体类的别名来代替实体类，达到简写的目的 -->
    <typeAliases>
        <!-- 为实体类me.gacl.domain.User配置一个别名_User -->
        <!-- <typeAlias type="com.ricardo.mybatis.domain.User" alias="_User"/> -->
        <!-- 为com.ricardo.mybatis.domain包下的所有实体类配置别名，MyBatis默认的设置别名的方式就是去除类所在的包后的简单的类名
        比如com.ricardo.mybatis.domain.User这个实体类的别名就会被设置成User
        还可以在User类加上@Alias("User")注解
         -->
      <package name="com.oci.domain"/>  
       <package name="com.oci.domain.vo"/>  
       <package name="com.oci.domain.searcher"/> 
     	
    </typeAliases>
	
	

	<!-- 可以定义自己需要的类型，还要定义类型的TypeHandler详细请看com.ricardo.mybatis3.typehandlers.PhoneTypeHandler文件 -->
	<typeHandlers>
		<!-- 
		<typeHandler handler="com.ricardo.mybatis3.typehandlers.PhoneTypeHandler" javaType="com.ricardo.mybatis3.type.Phone"/>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.ricardo.mybatis3.type.Gender"/>
	
		 -->
	</typeHandlers>


    


    
    
     <mappers>
        <!-- 注册userMapper.xml文件， 
        userMapper.xml位于com.ricardo.mybatis.mapping这个包下，所以resource写成com/ricardo/mybatis/mapping/userMapper.xml-->
		 <!-- 使用电脑上的文件地址
 		<mapper url="../com/ricardo/mybatis3/mapping/xml/StudentMapper.xml"/>
    	 -->
 

        <!-- 注册UserMapper映射接口，使用注解配置 -->
 
 
    	 <!-- 包下的所有Mapper Interface都会被发现-->
    	 <package name="com.oci.mapper"/>


    </mappers>
    
    
    
    
   
    
    
</configuration>
